html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Courier New, Courier New, Courier6, monospace;
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-self: flex-start;
  width: 100%;
}
.header-image {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 530px; /* height of bg image */
  background-image: url('./octoswirl.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
}
.header-content {
  margin: auto;
  margin-top: 220px;
}

.content {
  margin-bottom: 100px;
}

.footer {
  background-color: #000;
  color: #999;
  width: 100%;
}

.footer-image {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  height: 400px;
  width: 100%;
  background-image: url('./octofoot.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -2;
}

.container {
  margin: 0 20px;
  max-width: 700px;
}
.container-fluid {
  width: 100%;
  position: relative;
}

.content .container {
  margin-bottom: 40px;
}

h1 {
  font-size: 45px;
}
h1 small {
  font-size: 20px;
}

h2 {
  font-size: 28px;
}
h2 small {
  font-weight: normal;
  font-size: 20px;
}

p {
  line-height: 1.3em;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

a {
  text-decoration: none;
}
a:link {
  color: #333333;
  border-bottom: 1px #666666 dotted;
}
a:visited {
  color: #666666;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px #666666 solid;
}

a.button {
  padding: 10px 20px;
  border: 3px #999 solid;
  cursor: pointer;
}
a.button:hover {
  border: 3px #000 solid;
}

.link-list {
  display: block;
}
.link-list li {
  background: #000;
  color: #999;
  display: inline-block;
  padding: 4px 10px 2px 10px;
  margin:  10px;
}
.link-list a {
  border: none;
  color: #fff;
}
.link-list a:hover {
  color: #05EBB1;
}
